/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 20px  100px;
    
    
}
/* header styles */
header{
    height: 800px;
    width: 1550px;
background-image: url('../images/banner/banner3.png');

}
.banner{
    padding: 200px 230px 350px 850px;
    text-align: end;
}
.banner-title{
    color: #FFF;
text-align: right;
font-size: 65px;
font-weight: 700;
}
.banner-description{
    color: #FFF;
text-align: right;
font-size: 16px;
font-weight: 400;
}
.header-btn{
    width: 160px;
height: 64px;
border-radius: 5px;
background: #FFF;
color: #005FAC;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}

/* main styles */
main{
    padding: 130px 230px;
}
/* failure section */
.lady-part{
    display: flex;
    gap: 40px;
    align-items: center;
}
.section-title{
    color:  #151414;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;

}
   
.about-failure{
    padding: 24px 0 0 130px;
}
.failure-desceription{
color:  #444343;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;

}
/* plan section */
.plan-title{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.plan-section{
    display: flex;
    gap: 100px;
    padding: 0 250px 150px 150px ;
    
}
.plan {
    padding: 0 35px 0 30px;
}
/* last part  */

.last-part{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    position: relative;
  text-align: center;
  
  
}
    

.last-title{
    color: white;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
position: absolute;
  top: 50px;
  left: 64px;
}


.call-btn{
width: 160px;
height: 64px;
border-radius: 5px;
background: whitesmoke;
position: absolute;
top: 180px;
left: 64px;
color: #005FAC;
}

/* footer styles */
 footer{
    background:  #151414;
    width: 1600px;
height: 577px;

 }
.footer-part{
    display: flex;
    gap: 340px;
    padding: 130px 430px 130px 230px;
}
.footer-title{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;

}

footer h6{
    color: #444343;
}
footer p{
    color: #444343;
}


#box{
    
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FFF;
    text-align: center;


}
.btn-sub{
    width: 100px;
height: 40px;
margin-top: 10px;
padding-top: 10px;
background-color: #005FAC;
color: #F8F8F8;
text-align: center;
}


